.order {
  margin-top: 35px;
  margin-bottom: 25px;
  h2 {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 12px;
  }
  .order__top {
    a {
      font-size: 14px;
      color: #2e1ee4;
      margin-bottom: 18px;
      svg {
        margin-right: 4px;
      }
    }
    h2 {
      font-weight: bolder;
      font-size: 32px;
      margin-bottom: 18px;
    }
  }
  .order__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
    .content__left {
      grid-column: 1 / span 4;
      form {
        .content__info {
          margin-bottom: 36px;
          .form-group {
            margin-bottom: 15px;
            label {
              font-weight: normal;
              color: #434343;
              @include font-size(16px);
            }
          }
          p {
            text-align: left;

            @include font-size(14px);
            color: #808081;
            span {
              color: #d72229;
            }
          }
          @media #{$info-tablet-vertical-1} {
            width: 100%;
          }
        }
        .form__button {
          a {
            display: block;
            width: 100%;
            padding: 13px 0;
            color: #fff;
            border: none;
            border-radius: 5px;
            text-align: center;
            font-weight: bolder;
          }
          .button__log {
            background-color: #d72229;
          }
        }
      }
      @media #{$info-phone} {
        grid-column: 1 / span 12;
        padding: 25px;
      }
      @media #{$info-phone-4} {
        padding: 0;
      }
    }
    .content__midle {
      grid-column: 5 / span 4;
      .info {
        max-height: 298px;
        background-color: #f5f5f5;
        padding: 13px;
        ul {
          list-style: disc;
          padding-left: 20px;
          margin-bottom: 10px;
        }
      }
      @media #{$info-phone} {
        grid-column: 1 / span 6;
      }
      @media #{$info-phone-2} {
        grid-column: 1 / span 12;
        padding: 25px;
      }
      @media #{$info-phone-4} {
        padding: 0;
      }
    }
    .content__right {
      grid-column: 9 / span 4;
      .right__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        p {
          color: #505050;
          font-size: 14px;
        }
        button {
          font-size: 14px;
          color: #d72229;
          padding: 5px 16px;
          border: 1px solid #d72229;
          border-radius: 4px;
        }
      }
      .right__product {
        padding: 15px 0;
        border-top: 1px solid #e2e3e4;
        border-bottom: 1px solid #e2e3e4;
        margin-bottom: 15px;
        .product__item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          align-items: center;
          .item__name {
            display: flex;
            align-items: center;
            img {
              width: 77px;
            }
            div {
              h3 {
                font-size: 14px;
                font-weight: bolder;
                margin-left: 13px;
              }
              p {
                margin-left: 13px;
                color: #707070;
                @include font-size(12px);
              }
            }
          }
          p {
            color: #505050;
            font-weight: bolder;
            @include font-size(17px);
          }
        }
        .product__item:last-child {
          margin-bottom: 0;
        }
      }
      .right__sub {
        @include flex();
        justify-content: space-between;
        align-items: center;

        p {
          color: #505050;
          @include font-size(14px);
        }
      }
      .right__total {
        @include flex();
        justify-content: space-between;
        padding-top: 12px;
        p {
          color: #505050;
          @include font-size(14px);
          font-weight: bolder;
        }
        div {
          p {
            color: #fa434e;
            @include font-size(21.29px);
            font-weight: bolder;
          }
          span {
            @include font-size(12px);
            color: #505050;
          }
        }
      }
      .right__button {
        width: 100%;
        margin-top: 10px;
        a {
          width: 100%;
          text-align: center;
          font-weight: bolder;
        }
      }
      @media #{$info-phone} {
        grid-column: 7 / span 6;
      }
      @media #{$info-phone-2} {
        grid-column: 1 / span 12;
        padding: 25px;
      }
      @media #{$info-phone-4} {
        padding: 0;
      }
    }
    @media #{$info-tablet-vertical-1} {
      gap: 15px;
    }
  }
  @media #{$info-tablet-vertical} {
    margin-top: 90px;
  }
}
