.blogs-main {
  .blogs__content {
    display: flex;
    gap: 39px;
    .content__left {
      width: 50%;
      .image {
        width: 100%;
        overflow: hidden;
        img {
          transition: all 0.4s ease-in-out;
        }
      }
      h3 {
        line-height: 22px;
        font-size: 18px;
        font-weight: bolder;
        margin: 13px 0;
        @media #{$info-tablet-vertical} {
          margin: 8px;
        }
        @media #{$info-tablet-vertical-1} {
          margin: 4px;
          line-height: 17px;
        }
      }
      @media #{$info-tablet-vertical} {
        width: 40%;
      }
      @media #{$info-phone-2} {
        width: 100%;
        margin-bottom: 15px;
      }
      &:hover {
        .image {
          img {
            transform: scale(1.2);
          }
        }
        h3 {
          color: #d72229;
        }
      }
    }
    .content__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      .item {
        display: flex;
        gap: 25px;
        margin-bottom: 15px;
        .item__image {
          width: 50%;
          overflow: hidden;
          img {
            transition: all 0.4s ease-in-out;
          }
          @media #{$info-phone} {
            width: 40%;
          }
        }
        .item__content {
          width: 50%;
          h3 {
            line-height: 22px;
            @font-size (18px);
            font-weight: bolder;
            margin: 8px 0;
            @media #{$info-tablet-vertical} {
              margin: 0;
            }
            @media #{$info-tablet-vertical-1} {
              line-height: 17px;
            }
          }
          p {
            color: #707070;
            line-height: 17px;
            @font-size (14px);
            @media #{$info-tablet-vertical-1} {
              line-height: 14px;
            }
          }
          @media #{$info-phone} {
            width: 60%;
          }
        }
        @media #{$info-tablet-vertical-1} {
          gap: 15px;
        }
        @media #{$info-phone} {
          gap: 6px;
        }
        @media #{$info-phone-2} {
          gap: 8px;
        }
        &:hover {
          .item__image {
            img {
              transform: scale(1.2);
            }
          }
          .item__content {
            h3 {
              color: #d72229;
            }
          }
        }
      }
      @media #{$info-tablet-vertical} {
        width: 60%;
      }
      @media #{$info-phone-2} {
        width: 100%;
      }
    }
    @media #{$info-tablet-vertical-1} {
      gap: 15px;
    }
    @media #{$info-phone-2} {
      flex-direction: column;
    }
  }

  .wrap-content {
    display: flex;
    align-items: center;
    .red--tag {
      background: rgba(215, 34, 41, 0.21);
      width: 100px;
      height: 30px;
      border-radius: 10px;
      color: #d72229;
      @font-size (12px):;
      line-height: 30px;
      display: block;
      text-align: center;
      @media #{$info-phone-2} {
        width: 80px;
      }
    }
    span {
      margin-left: 15px;
      @font-size (12px);
      color: #707070;
      @media #{$info-phone-2} {
        width: 80px;
        margin-left: 8px;
      }
    }
  }
}
