.breadcrumb {
  ul {
    display: flex;
    margin-bottom: 20px;
    height: 40px;
    align-items: center;
    flex-wrap: wrap;
    li {
      padding: 5px 10px;
      position: relative;
      a {
        color: #707070;
        font-size: 14px;
        &.active {
          color: #000;
          font-weight: bolder;
        }
      }
      &::after {
        content: "/";
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(25%, 25%);
      }
      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}
