@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Roboto-Black.ttf");
}


// Fahkwang-Bold

@font-face {
    font-family: "Fahkwang";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Fahkwang-Regular.ttf");
}
@font-face {
    font-family: "Fahkwang";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Fahkwang-Medium.ttf");
}

@font-face {
    font-family: "Fahkwang";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Fahkwang-SemiBold.ttf");
}

@font-face {
    font-family: "Fahkwang";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Fahkwang-Bold.ttf");
}





