@import "./filter-bar";

.collection {
  display: flex;
  gap: 25px;
  margin-top: 35px;
  margin-bottom: 25px;
  content-visibility: auto;
  .collection__left {
    width: 30%;
    .left__breadcrumn {
      display: flex;
      margin-bottom: 20px;
      height: 40px;
      align-items: center;
      flex-wrap: wrap;
      li {
        padding: 5px 10px;
        position: relative;
        a {
          color: #707070;
          font-size: 14px;
          &.active {
            color: #000;
            font-weight: bolder;
          }
        }
        &::after {
          content: "/";
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(25%, 25%);
        }
        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
    .left__filter {
      h2 {
        font-size: 20px;
        color: #000;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        color: #707070;
      }
      .filter-bar {
        li {
          padding: 16px 0;
          border-bottom: 1px solid #707070;
          .wrap-links {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            a {
              font-size: 14px;
              font-weight: bolder;
            }
            i {
              transition: all 0.3s;
            }
            &.active {
              a {
                color: #d72229;
              }
              svg {
                color: #d72229;
                transition: all 0.3s;
                transform: rotate(180deg);
              }

              + .dropdown-content {
                height: 100%;
                display: block;
              }
            }
          }
          .dropdown-content {
            height: 0;
            display: none;
            transition: all 0.2s;
            padding: 15px 0 0 0;
            label {
              margin-bottom: 15px;
              .checkbox__star {
                display: flex;
                gap: 5px;
                color: #d72229;
              }
              .wrap-ranger {
                margin: 15px 0;
              }
            }
          }
        }
        // &:hover {
        //   .wrap-links {
        //     a {
        //       color: #d72229;
        //     }
        //     i {
        //       color: #d72229;
        //       transition: all 0.3s;
        //     }
        //   }
        // }
      }
    }
    @media #{$info-phone-3} {
      display: none;
    }
  }
  @media #{$info-phone-3} {
    margin-top: 80px;
  }

  .collection__mobile-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    .mobile-filter {
      background-color: rgba(25, 25, 26, 0.7);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    .mobile-content {
      transition-duration: 0.2s;
      background-color: #fff;
      overflow-y: auto;
      position: absolute;
      top: 0;
      left: -280px;
      padding: 15px;
      width: 280px;
      height: 100vh;
      h2 {
        font-size: 20px;
        color: #000;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        color: #707070;
      }
      .filter-bar {
        li {
          padding: 16px 0;
          border-bottom: 1px solid #707070;
          .wrap-links {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            a {
              font-size: 14px;
              font-weight: bolder;
            }
            i {
              transition: all 0.3s;
            }
            &.active {
              a {
                color: #d72229;
              }
              svg {
                color: #d72229;
                transition: all 0.3s;
                transform: rotate(180deg);
              }

              + .dropdown-content {
                height: 100%;
                display: block;
              }
            }
          }
          .dropdown-content {
            height: 0;
            display: none;
            transition: all 0.2s;
            padding: 15px 0 0 0;
            label {
              margin-bottom: 15px;
              .checkbox__star {
                display: flex;
                gap: 5px;
                color: #d72229;
              }
              .wrap-ranger {
                margin: 15px 0;
              }
            }
          }
        }
      }
    }
    .show-mobile-filter-content {
      left: 0;
    }
  }
  .show-mobile-filter-layout {
    width: 100%;
    height: 100%;
  }
  @media #{$info-tablet-vertical} {
    padding-top: 50px;
  }
  @media #{$info-phone-3} {
    padding-top: 0px;
  }
}
.collection__right {
  width: 70%;
  .right__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    p {
      color: #3a393a;
    }
    .filter {
      display: none;
    }
    .form-group {
      width: 200px;
      .form-control {
        color: #808081;
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        border: 1px solid #ccc;
      }
    }
    @media #{$info-phone-3} {
      p {
        display: none;
      }
      .filter {
        display: flex;
        align-items: center;
        svg {
          font-size: 18px;
          color: #d72229;
        }
        span {
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }
  }
  .right__bottom {
  }
  .rigth__bottom-paginate {
    justify-content: center;
    margin-top: 25px;
  }
  @media #{$info-phone-3} {
    width: 100%;
    margin-top: 15px;
  }
}
