.custom-check {
  margin-bottom: 20px;
  margin-bottom: 20px;
  line-height: 27px;
  label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    @include font-size(16px);
    font-weight: normal;
    color: #838383;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked {
        ~ .checkmark {
          background-color: #d72229;
          //   border: 2px solid #fff;

          &::after {
            display: block;
          }
        }
      }
    }
    .checkmark {
      position: absolute;
      top: 3px;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 2px solid #d72229;
      border-radius: 50%;
      &::after {
        content: "";
        position: absolute;
        display: none;

        top: 0px;
        left: 0px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 3px solid #fff;
      }
    }
    &:hover {
      input {
        ~ .checkmark {
          background-color: #ccc;
        }
      }
    }
  }
}
.custom-radios {
  border: 1px solid #eeeeef;
  border-radius: 8px;
  overflow: hidden;
  label {
    width: 50%;
    float: left;
    color: #808081;
    font-weight: normal;
    margin: 0;
    font-size: 14px;
    input[type="radio"] {
      display: none;
    }
    span {
      display: flex;
      text-align: center;
      padding: 11px 0;
      align-items: center;
      justify-content: center;
    }
    input[type="radio"]:checked {
      ~ span {
        font-weight: bold;
        color: #fff;
        background-color: #808081;
      }
    }
  }
}

// used
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  font-weight: normal;
  cursor: pointer;
  @include font-size(16px);
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ span {
      background-color: #d72229;
      &::after {
        display: block;
      }
    }
  }
  span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 50%;
    &::after {
      //hidden when not checked
      content: "";
      position: absolute;
      display: none;

      // Style the checkmark
      left: 7px;
      top: 3px;
      width: 7px;
      height: 14px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  &:hover {
    input ~ span {
      // background-color: #01adab;
    }
  }
}

//custom select 2 library
.custom-select2 {
  label {
    display: block;
    font-weight: normal;
    margin-bottom: 6px;
  }
  .select2-container {
    width: 100% !important;
    .select2-selection--single {
      height: 39px;
      line-height: 39px;
      .select2-selection__rendered {
        line-height: 39px;
        .select2-selection__placeholder {
          color: #808081;
          @include font-size(14px);
          padding: 4px 0;
        }
      }
    }
  }
}

.select2-container--open {
  .select2-dropdown--below {
    min-width: 200px !important;
    .select2-search--dropdown {
      input {
        outline: none;
        padding: 6px;
      }
    }
    .select2-results {
      overflow: scroll;
      ul {
        max-height: 120px;
        li {
          padding: 8px 0 8px 4px;
        }
        li:first-child {
          display: none;
        }
      }
    }
  }
}
//------------------------
.custom-select {
  /*Don't really need this just for demo styling*/

  // float: left;
  // min-width: 200px;

  select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    height: 40px;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  // &::after {
  //   content: "<>";
  //   color: #808081;
  //   transform: translateY(75%) rotate(90deg);
  //   right: 2%;
  //   /*Adjust for position however you want*/
  //   font-weight: bolder;
  //   top: 50%;
  //   padding: 0 0 2px;
  //   border-bottom: 1px solid #999;
  //   /*left line */

  //   position: absolute;
  //   pointer-events: none;
  // }
  /*To remove button from IE11, thank you Matt */
  select::-ms-expand {
    display: block;
  }
}
