header {
  background: #fff;
  .nav {
    position: relative;
    .nav__top {
      background-color: #d72229;
      @include flex();
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      p {
        color: #fff;
        font-weight: bolder;
        @include font-size(16px);
      }
    }
    .nav__midle {
      @include flex();
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;

      .nav__midle__brand {
        color: #d72229;
        text-decoration: none;
        font-size: 32px;
        line-height: 39px;
        font-weight: bolder;
      }
      .midle__input {
        @include flex();
        width: 658px;
        input {
          height: 40px;
          width: 100%;
          background: #f6f6f8;
          border-radius: 50px;
          padding: 6px 12px;
        }
        input::placeholder {
          @include font-size(13px);
          font-style: italic;
          color: #838383;
        }
        @media #{$info-tablet-horizontal} {
          width: 510px;
        }
      }
    }
    .nav__bottom {
      @include flex();
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin-top: 5px;
      li {
        @include flex();
        justify-content: space-between;
        align-items: center;

        // div {
        //   position: relative;
        //   background-color: #fff;
        //   line-height: 27px;
        //   width: 27px;
        //   border-radius: 50%;
        //   text-align: center;
        // }
        .nav__links {
          color: #000;
          margin-left: 11px;
          @include font-size(16px);
          transition: all 0.5s;
          font-weight: bold;
          position: relative;
          &:hover {
            color: #d72229;
          }
          &::after {
            opacity: 0;
            content: "";
            position: absolute;
            left: 43%;
            top: 105%;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #d72229;
            clear: both;
            transition: all 0.3s;
          }
        }
        .dropdown {
          position: absolute;
          height: 455px;
          width: 100%;
          background-color: #fff;
          width: 100%;
          left: 0;
          top: 160px;
          transition: all 0.3s;
          display: none;
          z-index: 10;
          .dropdown__content {
            padding: 40px;
            display: flex;
            gap: 25px;
            .content_left {
              width: 50%;
              h2 {
                font-weight: bolder;
                @include font-size(18px);
                line-height: 22px;
                margin-bottom: 8px;
              }
              .info {
                display: flex;
                .left__link {
                  display: block;
                  @include font-size(16px);
                  line-height: 25px;
                  transition: all 0.3s;
                  &:hover {
                    color: #d72229;
                  }
                }
                .info__left {
                  width: 50%;
                  display: flex;
                  flex-direction: column;
                }
                .info__right {
                  width: 50%;
                  display: flex;
                  flex-direction: column;
                }
              }
            }
            .content_right {
              width: 50%;

              .right__bottom {
                display: flex;
                margin-top: 9px;
                gap: 36px;
                .wrap-image {
                  width: calc((100% - 50px) / 3);
                }
              }
            }
          }
        }

        &:hover {
          .dropdown {
            display: block;
          }
          a {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
    @media #{$info-tablet-vertical} {
      display: none;
    }
    @media #{$info-phone} {
    }
    @media screen and (max-width: 767px) {
    }
  }

  .nav-scroll {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    opacity: 0;
    transition: all 0.3s;
    .nav-scroll__content {
      @include flex();
      justify-content: space-between;
      align-items: center;
      height: 70px;
      .nav__scroll__brand {
        color: #d72229;
        text-decoration: none;
        font-size: 32px;
        line-height: 39px;
        font-weight: bolder;
      }
      .scroll__input {
        @include flex();
        width: 658px;
        input {
          height: 40px;
          width: 100%;
          background: #f6f6f8;
          border-radius: 50px;
          padding: 6px 12px;
        }
        input::placeholder {
          @include font-size(13px);
          font-style: italic;
          color: #838383;
        }
        @media #{$info-tablet-horizontal} {
          width: 420px;
        }
        @media #{$info-tablet-vertical} {
          width: 280px;
        }
      }

      .content__btn {
        @include flex();
        justify-content: center;
        align-items: center;
        width: 145px;
        position: relative;
        p {
          margin-left: 5px;
          white-space: nowrap;
        }
        span {
          background-color: #fa434e;
          height: 24px;
          width: 24px;
          color: #fff;
          font-weight: bolder;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          @include font-size(13.8px);
          top: -2%;
          right: -2%;
        }
      }
    }
    @media #{$info-tablet-vertical} {
      display: none;
    }
  }
  .mobile-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    width: 100%;
    .nav-mobile {
      @include flex();
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      .nav-mobile__bars {
        cursor: pointer;
        .fas {
          @include font-size(28.75px);
        }
      }

      .nav__mobile__brand {
        color: #d72229;
        text-decoration: none;
        font-size: 32px;
        line-height: 39px;
        font-weight: bolder;
      }

      .nav-mobile__cart {
        position: relative;
        span {
          background-color: #d72229;
          height: 20px;
          width: 20px;
          line-height: 20px;
          color: #fff;
          font-weight: bolder;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          @include font-size(13.8px);
          top: -55%;
          right: -75%;
        }
      }
      .nav-mobile__menu {
        position: fixed;
        left: -60%;
        top: 0;
        width: 60%;
        height: 100%;
        transition: all 0.5s;
        background-color: #fff;

        .nav-mobile__menu__head {
          @include flex();
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          border-bottom: 1px solid #f0f0f0;
          p {
            @include font-size(28.75px);
            font-weight: bolder;
            margin-bottom: 0;
          }
          .btn-close {
            cursor: pointer;
            .fas {
              @include font-size(28.75px);
              color: #d72229;
            }
          }
        }
        ul {
          list-style: none;
          li {
            @include flex();
            // justify-content: s;
            align-items: center;
            padding: 15px 20px;
            // &:hover {
            //   background-color: #d72229;
            // }
            img {
              width: 21.99px;
            }
            a {
              color: #d72229;
              @include font-size(18px);
              font-weight: bolder;
            }
          }
        }
        @media #{$info-phone-4} {
          width: 70%;
          left: -70%;
        }
      }
      .open {
        left: 0;
      }
    }
    @media #{$info-tablet-vertical} {
      display: block;
    }
  }
}
