main {
  padding-bottom: 20px;

  @media #{$info-tablet-vertical} {
  }
}
.common-container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}
.common-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 30px 0;
  div {
    display: flex;
    align-items: center;
    p {
      @include font-size(31px);
      line-height: 37px;
      color: #000;
      margin-left: 10px;
      font-weight: bolder;
    }
    span {
      @include font-size(22px);
      color: #505050;
      font-weight: bolder;
    }
  }
  a {
    color: #707070;
    font-size: 16px;
    text-decoration: underline;
  }
}
.common-paginate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  li {
    padding: 4px 9px;
    border-radius: 50%;
    margin-right: 10px;
    a {
      @include font-size(16px);
      color: #808081;
      text-decoration: none;
    }
    &.active {
      background-color: #d72229;
      a {
        color: #fff;
      }
    }
    @media #{$info-phone-3} {
      padding: 6px 9px;
    }
  }
  li:first-child {
    margin-right: 15;
  }
  li:last-child {
    margin-right: 0;
  }
}
//nav-router
.nav-router {
  background-color: #e2e3e4;
  ul {
    @include flex();
    align-items: center;
    list-style: none;
    height: 50px;
    li {
      margin-left: 10.5px;
      .fas {
        @include font-size(12px);
      }
      a {
        @include font-size(12px);
        color: #808081;
        margin-left: 10.5px;
        &.active {
          color: #434343;
          font-weight: bolder;
        }
      }
    }
    li:nth-child(1) {
      margin-left: 0px;
      a {
        margin-left: 0px;
      }
    }
  }
}
.board-title {
  list-style: none;
  display: flex;
  gap: 10px;
  li {
    position: relative;
    text-align: center;
    min-width: 110px;
    padding: 13px 23px;
    top: -10px;
    cursor: pointer;
    h2 {
      color: #808081;
      @include font-size(14px);
      font-weight: bolder;
    }
    a {
      color: #808081;
      @include font-size(14px);
      font-weight: bolder;
    }
    p {
      color: #808081;
      @include font-size(14px);
      font-weight: bolder;
    }
    span {
      color: #ea4036;
      font-weight: bolder;
    }
    &::after {
      content: none;
    }
    &.active {
      background-color: #01adab;
      border-radius: 0 0 10px 10px;
      h2 {
        color: #ffff;
      }
      p {
        color: #fff;
      }
      a {
        color: #fff;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        border-bottom: 10px solid #016b68;
        border-left: 10px solid transparent;
        transform: translateX(-100%);
      }
    }
  }
}

//check-bar
.check-bar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 950px;
    li {
      position: relative;
      width: 33.3333%;
      text-align: center;
      p {
        margin-bottom: 10px;
        @include font-size(14px);
        color: #434343;
      }
      span {
        width: 25px;
        height: 25px;
        padding: 5px 12px;
        text-align: center;
        background-color: #808081;
        border-radius: 50%;
        border: 1px solid #808081;
        z-index: 4;
        color: #fff;
        @include font-size(14px);
        @include transform(translate(-50%, 50%));
        transition: all 200ms ease-in;
      }
      &.active {
        span {
          background-color: #01adab;
          border: 1px solid #01adab;
        }
      }
    }

    li:nth-child(2),
    li:nth-child(3) {
      &.active {
        &::after {
          background-color: #01adab;
        }
      }
      &::after {
        content: "";
        position: absolute;
        height: 6px;
        width: 90%;
        right: 55%;
        bottom: 18%;
        background-color: #808081;
        @include transform(translateY(50%));
        z-index: 0;
      }
      @media #{$info-tablet-vertical-1} {
        &::after {
          right: 51%;
        }
      }
      @media #{$info-phone-3} {
        &::after {
          right: 52%;
          width: 88%;
        }
      }
      @media #{$info-phone-4} {
        &::after {
          right: 52%;
          width: 86%;
        }
      }
    }
    @media #{$info-tablet-vertical-1} {
      width: 550px;
    }
  }
  @media #{$info-tablet-vertical} {
    padding-top: 40px;
  }
}
//nav-article
.nav-article {
  background-color: #00938f;
  ul {
    @include flex();
    list-style: none;

    li {
      position: relative;
      margin-left: 83px;
      padding: 9px 3px 11px 3px;
      height: 40px;
      a {
        color: #fff;
        font-weight: bolder;
        @include font-size(14px);
        white-space: nowrap;
      }
      &.active {
        background-color: #01adab;
        top: 5px;
        left: 0;
        border-radius: 5px 5px 0 0;
        a {
          text-transform: uppercase;
        }
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          left: -8px;
          bottom: 0;

          border-top: 5px solid #016b68;
          border-left: 8px solid transparent;
        }
      }
      @media #{$info-tablet-horizontal} {
        margin-left: 63px;
      }
    }
    li:first-child {
      margin-left: 0;
    }
  }
  @media #{$info-tablet-vertical} {
    overflow: scroll;
  }
}

//custom
.custom-form {
  position: relative;
  label {
    color: #434343;
    @include font-size(16px);
    font-weight: normal;
  }
  .form-control {
    height: 40px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    @media #{$info-phone-3} {
      height: 30px;
      padding: 2px 12px;
    }
  }
  input::placeholder {
    @include font-size(14px);
    color: #808081;
  }
  textarea::placeholder {
    @include font-size(14px);
    color: #808081;
  }
  span {
    color: #ea4036;
    position: absolute;
    top: 0;
    left: -10px;
  }
  // .custom-form__inline {
  //   @include flex();

  //   .inline__wrap-select {
  //     margin-left: 13.5px;
  //     width: calc((100%-30px) / 3);
  //   }
  //   .inline__wrap-select:first-child {
  //     margin-left: 0;
  //   }
  // }
  .custom-form__textarea {
    height: 110px;
  }
}
.custom-file {
  input {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  input + label {
    background: #edeeee;
    border: none;
    border-radius: 5px;
    color: #808081;
    cursor: pointer;
    display: inline-block;
    @include font-size(18px);
    font-weight: normal;
    outline: none;
    padding: 26px 0px;
    position: relative;
    transition: all 0.3s;
    //   vertical-align: middle;
    width: 100%;
    //   &:hover {
    //     background-color: darken(#f15d22, 10%);
    //   }

    &.btn-3 {
      background-color: #edeeee;
      border-radius: 0;
      overflow: hidden;

      span {
        display: inline-block;
        height: 100%;
        transition: all 0.3s;
        width: 100%;
        text-align: center;
        @include font-size(18px);
        color: #808081;
      }

      &::before {
        color: #fff;
        content: "upload image";

        @include font-size(20px);
        height: 100%;
        left: 50%;
        transform: translateX(-8%);
        line-height: 2.6;
        position: absolute;
        top: -180%;
        transition: all 0.3s;
        width: 100%;
      }

      &:hover {
        background-color: #01adab;

        span {
          transform: translateY(300%);
        }

        &::before {
          top: 0;
        }
      }
    }
  }
}

// -----------------------------------
.common-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  .item {
    position: relative;
    // border: 1px solid #e5e5e4;
    text-align: center;
    transition: all 0.5s;
    .item__event {
      position: absolute;
      background-color: #d72229;
      top: 0;
      left: 5%;
      z-index: 4;
      width: 44px;
      height: 33px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 5px;
      p {
        color: #fff;
        font-weight: bolder;
        span {
          font-weight: normal;
          @include font-size(12px);
        }
      }
      @media #{$info-phone} {
        height: 24px;
      }
    }
    .item__image {
      height: 280px;
      margin: 0 auto;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
      @media #{$info-phone-3} {
        height: 180px;
      }
      @media #{$info-phone-4} {
        height: 280px;
      }
    }
    .item__info {
      text-align: left;
      margin-top: 15px;
      padding: 0 15px;
      h3 {
        @include font-size(18px);
        color: #020202;
        text-decoration: none;
        transition: all 0.5s;
        line-height: 22px;
        font-weight: bolder;
      }
      p {
        @include font-size(16.8px);
        color: #d72229;
        font-weight: bolder;
        line-height: 18px;
      }
      ul {
        display: flex;
        margin: 10px 0;
        justify-content: center;
        gap: 10px;
        li {
          a {
            height: 42px;
            width: 42px;
            padding: 4px;
            border-radius: 50%;
            border: 2px solid #f0f0f0;
            transition: all 0.3s;
            img {
              border-radius: 50%;
            }
          }
          &:hover {
            a {
              border-color: #d72229;
            }
          }
        }
      }
    }
    &:hover {
      box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.75);
      h3 {
        color: #d72229;
      }
    }
  }
  @media #{$info-tablet-vertical} {
    grid-template-columns: repeat(3, 1fr);
  }
  @media #{$info-phone-2} {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$info-phone-4} {
    grid-template-columns: repeat(12, 1fr);
    gap: 0;
    width: 280px;
    overflow-y: scroll;
    margin: 0 auto;
    .item {
      width: 280px;
    }
  }
}

.common-product-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  .item {
    position: relative;
    border: 1px solid #e5e5e4;
    text-align: center;
    transition: all 0.5s;
    .item__event {
      position: absolute;
      background-color: #d72229;
      top: 0;
      left: 5%;
      z-index: 4;
      width: 44px;
      height: 33px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 5px;
      p {
        color: #fff;
        font-weight: bolder;
        span {
          font-weight: normal;
          @include font-size(12px);
        }
      }
      @media #{$info-phone-3} {
        height: 24px;
      }
    }
    .item__image {
      height: 280px;
      width: 100%;
      @media #{$info-phone-3} {
        height: 180px;
      }
      @media #{$info-phone-4} {
        height: 280px;
      }
    }
    .item__info {
      text-align: left;
      margin-top: 15px;
      padding: 0 15px;
      h3 {
        @include font-size(18px);
        color: #020202;
        text-decoration: none;
        transition: all 0.5s;
        line-height: 22px;
        font-weight: bolder;
      }
      p {
        @include font-size(16.8px);
        color: #d72229;
        font-weight: bolder;
        line-height: 18px;
      }
      ul {
        display: flex;
        margin: 10px 0;
        justify-content: center;
        gap: 10px;
        li {
          a {
            height: 42px;
            width: 42px;
            padding: 4px;
            border-radius: 50%;
            border: 2px solid #f0f0f0;
            transition: all 0.3s;
            img {
              border-radius: 50%;
            }
          }
          &:hover {
            a {
              border-color: #d72229;
            }
          }
        }
      }
    }
    &:hover {
      box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.75);
      h3 {
        color: #d72229;
      }
    }
  }
  @media #{$info-tablet-vertical} {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$info-tablet-vertical-1} {
    grid-template-columns: repeat(2, 1fr);
    .item {
      .item__event {
        height: 24px;
      }
      .item__image {
        height: 210px;
      }
    }
  }
  @media #{$info-phone-2} {
    .item {
      .item__image {
        height: 170px;
      }
    }
  }
  @media #{$info-phone-2} {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$info-phone-3} {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$info-phone-4} {
    grid-template-columns: repeat(1, 1fr);
    .item {
      .item__image {
        height: 240px;
      }
    }
  }
}

// .form-control {
//   display: block;
//   width: 100%;
//   height: 34px;
//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 1.42857143;
//   color: #555;
//   background-color: #fff;
//   background-image: none;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
//   box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
//   -webkit-transition: border-color ease-in-out 0.15s,
//     -webkit-box-shadow ease-in-out 0.15s;
//   -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
//   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
// }
