@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
// Variables + Mixins + Functions
@import "helpers/variables";

// Always include variable 1st !
@import "helpers/mixins";

// Base
@import "base/typography";
@import "base/font-face";
// end
@import "components/type";
@import "components/input";
// ----------------------------------------------------
// Layout
@import "layouts/button";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/common";
@import "layouts/main";

//Page
@import "page/home/index";

@layer base {
  body {
    --topbar-height: 4rem;
    --sidebar-width: 16rem;
    @apply text-sm;
  }

  svg,
  img {
    @apply max-w-full max-h-full;
  }

  textarea {
    @apply resize-none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  a {
    @apply block cursor-pointer;
  }
}

.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  opacity: 0.4;
}
